#logo{

}
    body{background-color: #535454;}
    p{color: lightgray;}
#nav-size{
    height: 40px;
    background-color: #282929;
}

#results-table{
    margin-left: 30px;
    margin-right: 30px;

}
