{% extends 'measure_app/main.html' %}
{% load static %}

{% block content %}

    <br>

<div class="card-columns">

  <div class="card">
    <div class="card-body" style="background-color: lightgrey; color: black;">
      <h5 class="card-title">Защо сте тук?</h5>
        <p class="card-text" style="background-color: lightgrey; color: black;">Питате се защо не се чувствате добре –

            <strong><i>постоянна умора, отслабена памет, проблеми с теглото, депресия, стягане в шията</i></strong>

            и още много други. Консултирате се с ендокринолог, правите многобройни изследвания. Може би са Ви казали, че
            имате Хашимото, тъй като са отчетени на ултразвук промени в структурата на щитовидната жлеза, а резултатите
            от изследванията на антителата MAT и TAT са високи. Или дори сте с диагноза Хипотиреоидизъм и имате назначена
            терапия с хормон, но въпреки това не се чувствате добре и терапията не води до очаквания ефект. Заключението е,
            че не се налага започване на терапия или коригирането на дозата й,

            <strong><i>тъй като резултатите от изследванията Ви са в референтните граници на лабораторията.</i></strong>

            Но за правилното функциониране на щитовидната жлеза е важно резултатите от изследванията на щитовидните хормони
            да са не просто в референтните граници, а в оптималните граници.

            <strong><i>За да се чувствате добре, важно е хормоните да са в оптимални нива.</i></strong>

        </p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{% static 'images/grafika_hashi.png' %}" alt="Card image cap">
    <div class="card-body" style="background-color: lightgrey; color: black;">
      <h5 class="card-title">Какво можете да правите тук</h5>
        <p class="card-text" style="background-color: lightgrey; color: black;">В този сайт бихте могли да си създадете

            <strong><i>профил, в който да качвате резултатите от изследванията на
                <a style="color:darkgreen">хормоните TSH, FT4 и FT3, както и антителата Anti-TPO(MAT) и Anti-Tg(TAT)</a></i></strong>

            и да видите <strong><i>дали попадат в оптималните граници</i></strong>,

            както и <strong><i>да проследявате промяната в резултатите</i></strong>

            при попълване на данни от последващи изследвания.
        </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body" style="background-color: lightgrey; color: black;">
      <h5 class="card-title">Разгледайте библиотеката</h5>
      <p class="card-text" style="background-color: lightgrey; color: black;"><i>Какво е Хашимото? Какво е Хипотиреоидизъм? Какво е Автоимунен протокол (АИП)?</i>

          В <strong><a href="{% url 'library' %}" style="color:darkblue">библиотеката</a></strong>
          на този сайт ще откриете най-добрите книги и сайтове, които ще отговорят на тези и още много други от въпросите,
          които Ви интересуват.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body" style="background-color: lightgrey; color: black;">
      <h5 class="card-title" style="color:darkred">!!!ВАЖНО!!!</h5>
      <p class="card-text" style="background-color: lightgrey; color: black;">Този сайт не предоставя информация от квалифициран медицински специалист,
          не замества консултацията с лекар и не трябва да се използва за самолечение! Създавайки си профил на този сайт,
          Вие ще въведете само никнейм и няма да бъдат изисквани никакви Ваши лични данни. Качването и съхраняването на
          Вашите резултати ще се използва само за техния графичен анализ, както и ще бъдат видими само във Вашия профил
          и няма да бъдат предоставяни на трети лица.
      </p>
    </div>
  </div>

</div>

{% endblock %}