{% extends 'measure_app/main.html' %}

{% block content %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

    body{background-color: #535454;}
    </style>

{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form style="border: 1px solid grey; margin: 10% 0%; background-color: lightgrey; padding: 10% 5%" method="post">
                <h2>Регистрирайте се:</h2>
                {{ form }}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Влез</button>

            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}
